.btn {
  color: white;
  text-decoration: none;
  padding: 12px 19px;
  display: inline-block;
  &--primary-color {
    background-color: $btn--primary-color;
  }
  &--secondary-color {
    background-color: $btn--secondary-color;
  }
  &--large {
    padding: 18px 30px;
    @mixin atSmall {
      font-size: 20px;
    }
  }
}
