.large-hero {
  border-bottom: 10px solid var(--primary-color);
  position: relative;
  &__image {
    display: block;
  }
  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }
  &__title {
    font-weight: 300;
    color: $hero__title--color;
    font-size: 38px;
    margin: 0;
    @mixin atSmall {
      font-size: 79px;
    }
  }
  &__subtitle {
    font-weight: 300;
    color: $hero__subtitle--color;
    margin: 0;
    font-size: 24px;
    @mixin atSmall {
      font-size: 46px;
    }
  }
  &__description {
    font-size: 18px;
    color: $hero__description--color;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    @mixin atSmall {
      font-size: 30px;
    }
  }
}
